<!-- Filtro -->
<div class="row justify-content-center">
    <div class="col-12 col-md-6 mb-5">
        <h4 class="text-dark ms-3 mt-5 mb-4">Equipos clasificados:</h4> 
        <ul class="list-group mb-4">
            <li class="list-group-item">
                <div class="dropdown">
                    <button class="fs-5 btn btn-link dropdown-toggle text-decoration-none text-secondary w-100 text-start" type="button" data-bs-toggle="dropdown">⚽ Fútbol</button>
                    <ul class="dropdown-menu w-100">
                        <li class="fs-5 dropdown-item text-primary">Leones Club</li>
                    </ul>
                </div>
            </li>    
            <li class="list-group-item">
                <div class="dropdown">
                    <button class="fs-5 btn btn-link dropdown-toggle text-decoration-none text-secondary w-100 text-start" type="button" data-bs-toggle="dropdown"><i class="fa-solid fa-basketball" style="color: orange"></i> Baloncesto</button>
                    <ul class="dropdown-menu w-100">
                        <li class="fs-5 dropdown-item text-primary">Águilas Juveniles</li>
                    </ul>
                </div>
            </li>
            <li class="list-group-item">
                <div class="dropdown">
                    <button class="fs-5 btn btn-link dropdown-toggle text-decoration-none text-secondary w-100 text-start" type="button" data-bs-toggle="dropdown">🎾 Tenis</button>
                    <ul class="dropdown-menu w-100">
                        <li class="fs-5 dropdown-item text-primary">Coyotes Junior</li>
                    </ul>
                </div>
            </li>
            <li class="list-group-item">
                <div class="dropdown">
                    <button class="fs-5 btn btn-link dropdown-toggle text-decoration-none text-secondary w-100 text-start" type="button" data-bs-toggle="dropdown"><i class="fa-solid fa-baseball" style="color: blue"></i> Balonmano</button>
                    <ul class="dropdown-menu w-100">
                        <li class="fs-5 dropdown-item text-primary">Alces BC</li>
                    </ul>
                </div>
            </li>
            <li class="list-group-item">
                <div class="dropdown">
                    <button class="fs-5 btn btn-link dropdown-toggle text-decoration-none text-secondary w-100 text-start" type="button" data-bs-toggle="dropdown"><i class="fa-solid fa-volleyball" style="color: black"></i> Voleibol</button>
                    <ul class="dropdown-menu w-100">
                        <li class="fs-5 dropdown-item text-primary">Colibríes Junior</li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>  
<!-- /Filtro -->

