<div class="row">
    <!-- Formulario de contacto -->
    <div class="col-12 col-md-6 mb-5">
        <h4 class="text-dark ms-4 mt-5">Escríbenos tus dudas</h4> 
        <div class="card mt-4 ms-3">
            <div class="card-body">
                <form>
                    <!-- Campo del formulario para el email -->
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Correo electrónico</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                    </div>
                    <!-- Campo del formulario para la pregunta -->
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Pregunta</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <!-- Botones -->
                    <div class="mb-3">
                        <button type="button" class="btn btn-outline-secondary" id="liveToastBtn">Enviar</button>
                        <!-- Alerta que saldrá al pulsar el botón enviar (toast) -->
                        <div class="toast-container position-fixed top-50 start-50 translate-middle p-3">
                            <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                                <div class="toast-header">
                                    <strong class="me-auto">I.E.S. Maestre de Calatrava</strong>
                                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                                </div>
                                <div class="toast-body">
                                    Su pregunta ha sido enviada, le responderemos lo antes posible.
                                </div>
                            </div>
                        </div>
                        <!-- Botón que borra lo escrito en el formulario-->
                        <button type="reset" class="btn btn-outline-secondary">Borrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /Formulario de contacto -->

    <!-- Sección de FQ -->
    <div class="col-12 col-md-6 mb-5">
        <div class="card-body">
            <h4 class="text-dark ms-3 mt-5 mb-4">Preguntas frecuentes</h4>
            <h6>ACCESO DE MENORES DE EDAD AL ESTADIO</h6>
            <p>Los menores de edad no podrán acceder al estadio sin entrada (la cual nunca contará con descuento o precio especial) y sin estar acompañados por un adulto. Según el Real Decreto 203/2010, en su artículo 17, cada espectador debe portar su propia entrada expedida a título individual, por tanto, queda terminantemente prohibido el acceso al estadio con niños en brazos sin entrada.</p>
            <h6>¿EXISTE ALGÚN CÓDIGO DE VESTIMENTA?</h6>
            <p>Recomendamos no vestir bermudas, pantalones cortos, camisetas sin mangas y zapatos descubiertos. Igualmente, les rogamos eviten acudir al estadio portando distintivos de los equipos rivales.</p>
            <h6>FECHA Y HORA DE LOS PARTIDOS</h6>
            <p>Los partidos de Liga se fijan en domingo por defecto. Sin embargo, pueden variar a sábado u otros días.
            <br>El horario y día exactos de los partidos de Liga no serán oficiales hasta que lo publique La Liga de Fútbol Profesional.
            <br>Los partidos de UEFA Champions League siempre tienen lugar entre semana y su fecha y horarios no sufrirán modificación una vez anunciados.
            <br>Los partidos de Copa del Rey siempre tienen lugar entre semana, pero sí podrían verse afectados por modificaciones de fecha y hora.</p>
        </div>
            <!-- /Sección de FQ -->
    </div>
</div>


