<nav class="navbar navbar-dark bg-dark px-3">
  <a class="navbar-brand d-flex align-items-center" routerLink="/">
    <!--<img src="assets/img/icono2.png" width="40" height="40" class="me-2">-->
    Liga Deportiva Calatrava
  </a>
  <ul class="navbar-nav flex-row">
    <li class="nav-item me-3">
      <a class="nav-link text-white" routerLink="/equipos">Equipos</a>
    </li>
    <li class="nav-item me-3">
      <a class="nav-link text-white" routerLink="/resultados">Resultados</a>
    </li>
    <li class="nav-item me-3">
      <a class="nav-link text-white" routerLink="/clasificaciones">Clasificación</a>
    </li>
    <li class="nav-item me-3">
      <a class="nav-link text-white" routerLink="/jugadores">Jugadores</a>
    </li>
    <li class="nav-item me-3">
      <a class="nav-link text-white" routerLink="/arbitros">Árbitros</a>
    </li>
    <li class="nav-item me-3">
      <a class="nav-link text-white" routerLink="/contacto">Contacto</a>
    </li>
    <li class="nav-item me-3">
      <a class="nav-link text-white fw-bold" routerLink="/login">Login</a>
    </li>
  </ul>
</nav>
