<!-- Filtro -->
<div class="row justify-content-center mb-5"> 
    <div class="col-12 col-md-6 mb-5">
           <!-- Equipos de cada competición -->
            <!-- Fútbol -->
            <h3 id="futbol" class="mt-5 text-secondary">Fútbol – Equipos</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <p class="w-100 text-start text-primary">
                    Tigres FC
                    </p>
                    <div class="mt-2" id="info1">
                        <div class="card card-body">
                            Capitán: Luis Gómez<br>
                            Jugadores: 18<br>
                            Posiciones: Portero, Defensa, Medio, Delantero
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <p class="w-100 text-start text-primary">
                    Leones Club
                    </p>
                    <div class="mt-2" id="info2">
                        <div class="card card-body">
                            Capitán: Carlos Soto<br>
                            Jugadores: 17<br>
                            Posiciones: Portero, Defensa, Medio, Delantero
                        </div>
                    </div>
                </li>
            </ul>
            <!-- baloncesto -->
            <h3 id="baloncesto" class="mt-5 text-secondary">Baloncesto – Equipos</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <p class="w-100 text-start text-primary">
                    Águilas Juveniles
                    </p>
                    <div class="mt-2" id="info3">
                        <div class="card card-body">
                            Capitán: Mario Ruiz<br>
                            Jugadores: 11<br>
                            Posiciones: Base, Escolta, Alero, Ala-Pivot, Pivot
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <p class="w-100 text-start text-primary">
                    Halcones Club
                    </p>
                    <div class="mt-2" id="info4">
                        <div class="card card-body">
                            Capitán: Iván Torres<br>
                            Jugadores: 10<br>
                            Posiciones: Base, Escolta, Alero, Ala-Pivot, Pivot
                        </div>
                    </div>
                </li>
            </ul>
            <!-- Tenis -->
            <h3 id="tenis" class="mt-5 text-secondary">Tenis – Equipos</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <p class=" w-100 text-start text-primary">                   
                    Coyotes Junior</p> 
                    <div class="mt-2" id="info5">
                        <div class="card card-body">
                            Capitán: Nerea Camacho<br>
                            Jugadores: 2<br>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <p class="text-primary w-100 text-start text-primary">
                    Lobos Juveniles</p>
                </li>
            </ul>
            <!-- Balonmano -->
            <h3 id="balonmano" class="mt-5 text-secondary">Balonmano – Equipos</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <p class="w-100 text-start text-primary">
                    Alces BC </p>
                </li>
                <li class="list-group-item">
                    <p class=" w-100 text-start text-primary">
                    Ciervos Club </p>
                </li>
            </ul>
            <!-- Voleibol -->
            <h3 id="voleibol" class="mt-5 text-secondary">Voleibol – Equipos</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <p class="w-100 text-start text-primary">
                    Colibríes Junior </p>
                </li>
                <li class="list-group-item">
                    <p class="w-100 text-start text-primary">
                    Vencejos VC </p>
                </li>
            </ul>
        <!-- Información de equipos -->   
    </div>
</div>  
<!-- /Filtro -->


