
<!-- Filtro -->
<div class="row justify-content-center mb-5">
    <!-- Mitad de la pantalla en ordenador y entera en movil -->
    <div class="col-12 col-md-6 mb-5">
            <!-- Equipos de cada competición -->
            <!-- Fútbol -->
            <h3 id="futbol" class="mt-5 text-secondary">Resultados Fútbol</h3>
            <div class="row">
                <div class="col-6">
                    <ul class="list-group">
                        <li class="list-group-item text-primary">Tigres FC</li>
                        <li class="list-group-item text-primary">Leones Club</li>
                    </ul>
                </div>
                <div class="col-6">
                    <ul class="list-group">
                        <li class="list-group-item">0</li>
                        <li class="list-group-item">1</li>
                    </ul>
                </div>
            </div>
            <!-- baloncesto -->
            <h3 id="baloncesto" class="mt-5 text-secondary">Resultados Baloncesto</h3>
            <div class="row">
                <div class="col-6">
                    <ul class="list-group">
                        <li class="list-group-item text-primary">Águilas Juveniles</li>
                        <li class="list-group-item text-primary">Halcones Club</li>
                    </ul>
                </div>
                <div class="col-6">
                    <ul class="list-group">
                        <li class="list-group-item">133</li>
                        <li class="list-group-item">98</li>
                    </ul>
                </div>
            </div>
            <!-- Tenis -->
            <h3 id="tenis" class="mt-5 text-secondary">Resultados Tenis</h3>
            <div class="row">
                <div class="col-6">
                    <ul class="list-group">
                        <li class="list-group-item text-primary">Coyotes Junior</li>
                        <li class="list-group-item text-primary">Lobos Juveniles</li>
                    </ul>
                </div>
                <div class="col-6">
                    <ul class="list-group">
                        <li class="list-group-item">2 - 6 - 6</li>
                        <li class="list-group-item">0 - 4 - 4</li>
                    </ul>
                </div>
            </div>
            <!-- Balonmano -->
            <h3 id="balonmano" class="mt-5 text-secondary">Resultados Balonmano</h3>
                <div class="row">
                <div class="col-6">
                    <ul class="list-group">
                        <li class="list-group-item text-primary">Alces BC</li>
                        <li class="list-group-item text-primary">Ciervos Club</li>
                    </ul>
                </div>
                <div class="col-6">
                    <ul class="list-group">
                        <li class="list-group-item">35</li>
                        <li class="list-group-item">28</li>
                    </ul>
                </div>
                </div>
            <!-- Voleibol -->
            <h3 id="voleibol" class="mt-5 text-secondary">Resultados Voleibol</h3>
            <div class="row">
                <div class="col-6">
                    <ul class="list-group">
                        <li class="list-group-item text-primary">Colibríes Junior</li>
                        <li class="list-group-item text-primary">Vencejos VC</li>
                    </ul>
                </div>
                <div class="col-6">
                    <ul class="list-group">
                        <li class="list-group-item">3</li>
                        <li class="list-group-item">0</li>
                    </ul>
                </div>
            </div>
    </div>
</div>